<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.braintree.payment">

    <uses-permission android:name="android.permission.INTERNET" />
    <queries>
        <package android:name="com.venmo" />
    </queries>
    <application>

        <activity
            android:name=".VenmoActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="${applicationId}.venmo" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PayPalActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="${applicationId}.paypal" />
            </intent-filter>
        </activity>
    </application>
</manifest>
